.popup-texts {
    margin-top: 5rem;;
}

.popup-texts h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 500;
    color: black;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 5px 15px;
    display: block;
    margin: 10px auto 0;
    color: #fff;
    font-size: 18px;
    background-image: linear-gradient(90deg, hsl(241, 87%, 61%), hsl(206, 91%, 72%));
    background-size: 100%;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 15px 0;
    transition: 0.35s ease;
}

.btn-modal:hover {
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, hsl(241, 91%, 57%), hsl(206, 99%, 67%));
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }


.overlay {
    background: rgba(68, 68, 68, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 2px;
    padding: 5px 7px;
}


.texts {
    padding: 3% 10% 1% 10%;
}